<<<<<<< HEAD
version: "3.9"

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    depends_on:
      - api
      - frontend
    volumes:
      - ../deploy/nginx/nginx.conf:/etc/nginx/nginx.conf:ro

  api:
    build:
      context: ../backend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
      PORT: 5000
      MONGO_URI: mongodb://mongo:27017/mujcode
      REDIS_HOST: redis
      REDIS_PORT: 6379
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: mujcode
      POSTGRES_HOST: postgres
      ENABLE_CLUSTER: "false"
    depends_on:
      - mongo
      - redis
      - postgres

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
    depends_on:
      - api

  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:alpine
    restart: always

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: mujcode
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  mongo_data:
  postgres_data:

=======
version: "3.9"

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    depends_on:
      - api
      - frontend
    volumes:
      - ../deploy/nginx/nginx.conf:/etc/nginx/nginx.conf:ro

  api:
    build:
      context: ../backend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
      PORT: 5000
      MONGO_URI: mongodb://mongo:27017/mujcode
      REDIS_HOST: redis
      REDIS_PORT: 6379
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: mujcode
      POSTGRES_HOST: postgres
      ENABLE_CLUSTER: "false"
    depends_on:
      - mongo
      - redis
      - postgres

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
    depends_on:
      - api

  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:alpine
    restart: always

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: mujcode
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  mongo_data:
  postgres_data:

>>>>>>> 54c65193bef0adb8c05bc7e519e5e1e947a58c34
